body {
	font-family: sans-serif;
	padding: 1em;
	margin: 0;
	background: #f0f0f0;
	line-height: 1.4;
}

.container {
	max-width: 66rem;
	margin: 0 auto;
}

button,
input,
textarea,
select {
	font: inherit;
	font-size: max(1em, 16px);
	box-sizing: border-box;
	padding: 0.5em 1em;
	border: 1px solid;
}

input[type='file'] {
	border: none;
	max-width: 100%;
}

button {
	appearance: none;
	border: 1px solid transparent;
	color: #fff;
	background: royalblue;
}

button:hover,
button:focus {
	outline: 0.25em solid rgba(0, 0, 0, 0.25);
}

button:active {
	color: royalblue;
	border-color: currentColor;
	background: #fff;
}

.t--info {
	font-size: 0.8em;
}
