body {
	font-family: sans-serif;
	padding: 1em;
	margin: 0;
	background: #f0f0f0;
	line-height: 1.4;
}

.container {
	max-width: 66rem;
	margin: 0 auto;
}

button,
input,
textarea,
select {
	font: inherit;
	box-sizing: border-box;
	padding: 0.5em 1em;
	border: 1px solid;
}

button {
	appearance: none;
	border: 1px solid transparent;
	color: #fff;
	background: royalblue;
}

.t--info {
	font-size: 0.8em;
}
