.apikey {
}

.apikey .info {
	font-size: 0.8em;
}

.apikey__current,
.apikey__new {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0;
}

.apikey__current-val {
	overflow: hidden;
	text-overflow: ellipsis;
}

.apikey__new > :first-child {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.apikey__new input {
	flex-grow: 1;
	margin: 0 1em;
}
