.image-submitter {
	padding: var(--pad) 0;
}

.image-submitter:focus,
.image-submitter:focus-within {
	background: linear-gradient(to bottom, #ddd, #fff);
}

.focus-note:after {
	content: ' — focus me first!';
}

.image-submitter:focus .focus-note:after,
.image-submitter:focus-within .focus-note:after {
	content: " — I'm focused!";
	font-weight: bold;
}
