.text-output {
	padding: var(--pad) 0;
}

.text-output textarea {
	display: block;
	height: 10em;
	width: 100%;
	box-sizing: border-box;
	line-height: 1.5;
	padding: 1em;
	margin: var(--pad) 0;
}

.serialization-toggle {
	margin: var(--pad) 0;
}

.serialization-toggle > :not(:last-child) {
	margin-right: 1em;
}
